extends layout

block content
  h1 GreenBeanify
  p Welcome to #{title}
  img(src="/images/washer_dryer.png", alt="Washer/Dryer", style="float:left")
  #wrapper
    h2 Function list
    #functionList
      table
        thead
          th Name
          th Last value
          th HTTP GET URL
        tbody
          each val, key in laundryVals
            tr
              td #{key}
              td #{val}
              td
                a(href='/laundry/#{key}') /laundry/#{key}

