extends layout

block content
  img(src="/images/green-beanify-logo.png", alt="GreenBeanify logo")
  p Welcome to #{title}
  #applianceType 
    img(src="/images/washer_dryer.png", alt="Washer/Dryer", style="float:left")
  #wrapper
    h2 Function list
    #functionList
      table
        thead
          th Name
          th Last value
          th HTTP GET URL
        tbody
          each val, key in laundryVals
            tr
              td #{key}
              td #{val.text}
              td
                a(href='/laundry/#{key}/json/')
                  img(src="/images/file-type-json2.png", alt="JSON", title="JSON", style="float:left;height:20px;width:auto;")
                a(href='/laundry/#{key}/numeric/')
                  img(src="/images/file-type-number.png", alt="Numeric", title="Numeric", style="float:left;height:20px;width:auto;")
                a(href='/laundry/#{key}') /laundry/#{key}
                  img(src="/images/file-type-txt.png", alt="Text", title="Text", style="float:left;height:20px;width:auto;")
  #applianceList
    h2 Appliance info
    table
      thead
        th Name
        th Last value
      tbody
        each val, key in applianceVals
          tr
            td #{key}
            td #{val.text}
